
  <div class="login-container">
    <h1>Add Book</h1>
    <div class="login-box">

        <form (ngSubmit)="onSubmit()">
            <label>Book Name</label>
            <input
              type="text"
              [(ngModel)]="bookName"
              [ngModelOptions]="{standalone: true}"
              required
            />
        
            <label>Author Name</label>
            <input
              type="text"
              [(ngModel)]="authorName"
              [ngModelOptions]="{standalone: true}"
              required
            />
        
            <label>Price</label>
            <input
              type="text"
              [(ngModel)]="price"
              [ngModelOptions]="{standalone: true}"
              step="0.01"
              required
            />
        
            <button type="submit">Add Book</button>
          </form>



    </div>
  </div>
  



  




  