$heading-color: #2F5597;
$button-color: #4472C4;
$label-color: black;
$font-family: 'Calibri', sans-serif;
$font-size: 18px;



.dashboard-container {
    display: flex;
    font-family: $font-family;
    font-size: $font-size;
}

.sidebar {
    width: 200px;
    background-color: $heading-color;
    color: white;
    padding: 20px;
}

.sidebar-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.nav-menu {
    list-style-type: none;
    padding: 0;

    li {
        margin: 15px 0;

        button {
            background: none;
            color: white;
            font-size: 16px;
            border: none;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            mat-icon {
                font-size: 20px;
            }
        }
    }
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;

    .main-title {
        color: $heading-color;
        font-size: 24px;
    }
}

.stats-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .stat-card {
        width: 45%;
        padding: 10px;
        background-color: #f1f1f1;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h3 {
            text-align: center;
            color: $heading-color;
            font-size: $font-size;
        }

        .large-chart {
            margin-top: 10px;
            width: 100%;
        }
    }
}

.summary-section {
    h3 {
        color: $heading-color;
        margin-bottom: 10px;
        font-size: $font-size;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: $font-size;

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: $button-color;
            color: white;
        }
    }
}